.about-page-wrap {
    margin-top: 15vh;
}

.about-page-content {
    background-color: white;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    text-align: justify;
    text-justify: inter-word;
    margin-right: auto;
}

.about-page-content p {
    font-size: 2rem;
    font-weight: lighter;
}
