body {
    font-family: "Montserrat" sans-serif;
}

.adminPageTitle {
    text-align: center;
    background-color: #3ca7c2;
    color: white;
    word-break: break-all;
    margin-top: 3%;
}

.errorMessageDIv {
    width: 70% !important;
    margin-right: 15% !important;
    margin-left: 15% !important;
}

.sidenav {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3ca7c2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #cfdb65;
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
