.formDiv {
    width: 75%;
    margin-left: 300px;
}

#adminPanelTextInput {
    width: 20%;
    margin-right: 3%;
    margin-left: 3%;
}

.rowFormElements {
    display: flex;
    margin-bottom: 5%;
}

.inputWithText {
    display: block;
}
