body,
html {
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/heroTest.png");

    /* Set a specific height */
    width: 100%;
    height: 100vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.typewrite {
    margin-right: 50%;
    color: white;
    position: absolute;
    top: 30vh;
    margin-left: 3vw;
    font-size: 3.6rem;
    letter-spacing: 0.2rem;
}

.hero-wrap {
    position: relative;
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    top: 80%;
    text-align: center;
}
.hero-search {
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.container {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
    .search {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 50px;
        background: #f8d567;
        border-radius: 50%;
        transition: all 1s;
        z-index: 4;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
        // box-shadow: 0 0 25px 0 crimson;
        &:hover {
            cursor: pointer;
        }
        &::before {
            content: "";
            position: absolute;
            margin: auto;
            top: 22px;
            right: 0;
            bottom: 0;
            left: 22px;
            width: 12px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            transition: all 0.5s;
        }
        &::after {
            content: "";
            position: absolute;
            margin: auto;
            top: -5px;
            right: 0;
            bottom: 0;
            left: -5px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 2px solid white;
            transition: all 0.5s;
        }
    }
    input {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 50px;
        outline: none;
        border: none;
        // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        background: white;
        color: black;
        padding: 0 80px 0 20px;
        border-radius: 30px;
        // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
        transition: all 1s;
        opacity: 0;
        z-index: 5;
        letter-spacing: 0.1em;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            width: 300px;
            opacity: 1;
            cursor: text;
        }
        &:focus ~ .search {
            right: -250px;
            background: #151515;
            z-index: 6;
            &::before {
                top: 0;
                left: 0;
                width: 25px;
            }
            &::after {
                top: 0;
                left: 0;
                width: 25px;
                height: 2px;
                border: none;
                background: white;
                border-radius: 0%;
                transform: rotate(-45deg);
            }
        }
        &::placeholder {
            color: black;
            opacity: 0.5;
        }
    }
}
.content-categories-outter-wrap {
    background-color: #e9e9e9;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.content-categories-main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.text-block {
    position: relative;
    width: 100%;
    bottom: 10%;
    background-color: #0a4c66b7;
    color: white;
    text-align: center;
    transition: all 300ms;
}

#categories-col:hover .text-block {
    background-color: #f0c432c5;
}
#categories-col:hover .categtories-img {
    width: 300px;
    height: 10000px;
}

#categories-col:hover {
    height: 250px;
    width: 520px;
}

.row img {
    width: 100%;
}

.row {
    padding-top: 10px;
}
.categtories-h1 {
    font-size: 2rem;
    color: #0088a9;
    text-align: center;
}

.content-text {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contact-container {
    background-color: #f0c332;
    width: 45%;
    color: white;
    text-align: center;
    padding-top: 5%;
    margin-left: 1%;
    min-height: 500px;
    max-height: 500px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.contact-container p {
    font-size: 20px;
    cursor: pointer;
    transition: 300ms ease 0s;
    font-weight: bold;
}

.mail {
    margin-top: 30%;
}
.contact-container p:hover {
    color: #105561;
}

.text-container {
    max-height: 500px;
    width: 100%;
    margin-right: auto;
    padding-left: 20%;
}

#categories-col {
    padding-top: 30px;
}

.text-container-h1 {
    max-height: 500px;
    font-size: 25px;
    font-weight: bold;
}

.text-container-p {
    font-size: 17px;
}

.text-container-button {
    padding: 5px 25px;
    color: white;
    background-color: #105561;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat" sans-serif;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
    margin-top: 5%;
}

.text-container-button:hover {
    background-color: #f0c332;
    color: #105561;
}
.content-parallax {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/parallax.jpg");

    /* Set a specific height */
    min-height: 200px;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.text-parallax {
    padding-top: 20px;
    font-size: 60px;
    color: white;
}

.button-parallax {
    padding: 5px 25px;
    color: white;
    background-color: #0087a900;
    outline: 3px solid #f0c332;
    transition: 500ms ease 0s;
}

.button-parallax:hover {
    background-color: #f0c332;
}

.content-contact {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.container-contact {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.text-contact {
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
}

.contact-h1-p {
    padding-left: 50px;
    padding-top: 20px;
}
.contact-h1-p h1 {
    font-weight: bold;
    font-size: 2rem;
}
.contact-h1-p p {
    font-size: 1.5rem;
}
.contact-button-div {
    padding-top: 190px;
}
.contact-a {
    text-decoration: none;
    color: #105561;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    transition: 300ms ease 0s;
}

.text-contact h1 {
    font-weight: bold;
}

.text-contact p {
    font-size: 1.5rem;
}

.contact-a:hover {
    text-decoration: none;
    color: #f0c332;
}

#categories-col:hover {
    width: 250px;
}

@media only screen and (max-width: 900px) {
    .text-container-p {
        font-size: 1.9vw;
    }
    .text-container-h1 {
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 770px) {
    .typewrite {
        margin-right: 0%;
        color: white;
        position: absolute;
        top: 30vh;
        margin-left: 3vw;
        font-size: 3rem;
        letter-spacing: 0.2rem;
        text-align: center;
    }
    .content-text {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .contact-container {
        margin-left: 25%;
    }

    .text-container {
        padding-top: 5%;
        max-width: 500px;
        margin-left: 1%;
        margin-right: 1%;
        max-height: 1000px;
    }

    .text-container-p {
        font-size: 1rem;
    }
    .text-container-h1 {
        font-size: 1.5rem;
    }

    .button-parallax {
        margin-bottom: 5%;
    }

    .text-parallax {
        font-size: 50px;
    }

    .text-contact {
        display: block;
    }

    .text-contact h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .text-contact p {
        font-size: 1rem;
    }

    .contact-a {
        font-size: 1rem;
    }

    .contact-button-div {
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    .contact-container {
        width: 90%;
        margin-left: 5%;
        min-height: 450px;
    }

    .contact-container p {
        font-size: 1.5rem;
    }
    .text-container {
        padding-left: 0;
        padding-top: 5%;
        width: 90%;
        margin-left: 5%;
        max-height: 1000px;
    }

    .button-parallax {
        margin-bottom: 5%;
    }

    .text-parallax {
        font-size: 40px;
    }

    .text-contact h1 {
        font-size: 1.1rem;
        font-weight: bold;
    }
}
