@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a {
    margin-bottom: 18px;
    font-family: "Montserrat" sans-serif;
    color: #0088a9;
    font-size: 20px;
    text-decoration: none;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px 5%;
    overflow: hidden;
    padding: 2px 5%; /* Large padding which will shrink on scroll (using JS) */
    transition: 400ms; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
}

.logo {
    height: 120px;
    cursor: pointer;
    margin-right: auto;
    transition: 200ms;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    padding: 20px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav-links li a:hover {
    transition: all 300ms ease 0ms;
    color: white;
}

#navbar-buttonID {
    padding: 5px 25px;
    background-color: #0088a9;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat" sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: rgba($color: #105561, $alpha: 1);
}

.heroimg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content {
    min-height: calc(100vh - 70px);
}

.footer {
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 50px 25%;
    height: 25%;
    background-color: #6aabc1;
}

.footer ul li {
    color: #105561;
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}

.footer h3 {
    color: #105561;
    font-weight: 1, 200;
}

.footer .contact-number {
    color: white;
}
.footer .newslatter {
    color: #6aabc1;
}

.footer input {
    width: 50%;
    height: 36px;
}

.footer .subscribe-button {
    padding: 5px 25px;
    color: #105561;
    background-color: #f8d567;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat" sans-serif;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
}

.footer .subscribe-button:hover {
    background-color: #105561;
    color: #f8d567;
}
