@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
.home,
.equipment,
.about {
    font-family: "Montserrat" sans-serif;
    color: #0088a9;
    font-size: 20px;
    text-decoration: none;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: visible;
    padding: 2px 5%; /* Large padding which will shrink on scroll (using JS) */
    transition: 400ms; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
}

.language {
    font-size: 15px;
    padding-left: 20px;
    opacity: 0.5;
}

.dropdown {
    padding-top: 15px;
    display: inline-block;
}
.dropdown-content {
    list-style: none;
    display: none;
    color: white;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    transition: 500ms ease 0ms;
    overflow: visible;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    transition: 500ms ease 0ms;
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.language:hover {
    cursor: pointer;
    transition: 200ms;
    color: lightblue;
    opacity: 1;
}
.logo {
    height: 120px;
    cursor: pointer;
    margin-right: auto;
    transition: 200ms;
}
.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav-links li a:hover {
    transition: all 300ms ease 0ms;
    color: black;
}

#navbar-buttonID {
    padding: 8px 25px;
    background-color: #0088a9;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat" sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

#navbar-buttonID:hover {
    background-color: rgba($color: #105561, $alpha: 1);
}

.heroimg {
    opacity: 0.9;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content {
    min-height: calc(100vh - 70px);
}

.footer {
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 50px 18%;
    height: 25%;
    width: 100%;
    background-color: #6aabc1;
}

.fotter-outter-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.footer .footer-ul .footer-li {
    list-style-type: none;
}

.footer h3 {
    color: #105561;
    font-weight: 1, 200;
}

.footer .contact-number {
    color: white;
}

.footer-wrap {
    display: flex;
}

.newslatter {
    width: 100%;
}
.footer .newslatter {
    color: #6aabc1;
}

.footer input {
    width: 100%;
    border: none;
    height: 36px;
}

.footer .subscribe-button {
    padding: 5px 25px;
    color: #105561;
    background-color: #f8d567;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat" sans-serif;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
}

.footer .subscribe-button:hover {
    background-color: #105561;
    color: #f8d567;
}

.subscribe-button-div {
    padding-top: 38.333px;
    padding-right: 30%;
    padding-left: 1%;
}
.footer-social {
    display: flex;
    padding-top: 38px;
    padding-right: 20px;
    cursor: pointer;
    transition: all 1000ms;
}

#fb-footer {
    padding-right: 15px;
}

.footer-social i:hover {
    color: #f8d567 !important;
}

label {
    margin: 50px 40px 0 0;
    font-size: 25px;
    line-height: 70px;
    display: none;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 930px) {
    .footer-wrap {
        display: block;
    }

    .newslatter {
        width: 100%;
    }

    .subscribe-button-div {
        padding-top: 10px;
        padding-left: 0%;
    }
}

@media only screen and (max-width: 768px) {
    label {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        text-align: center;
        width: 100%;
        display: none;
    }

    #toggle:checked + .nav-links {
        display: block;
    }
}
