* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gallery-small-img {
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: 0.6;
    min-width: 123px;
    max-width: 123px;
}
.swiper-container {
    width: 100%;
    height: 1000px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#imageBox {
    min-width: 599px;
    max-width: 599px;
}

.product-info-gallery {
    top: 50%;
    left: 50%;
}
.container-img {
    height: 500px;
}
.gallery-small {
    float: left;
}

.img-container {
    padding: 10px;
    float: right;
}

.gallery-small-img:hover {
    opacity: 1;
}

.product-info-gallery-wrap {
    display: flex;
}

.product-info {
    margin-top: 20vh;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}

.show-all-img {
    height: 92px;
    cursor: pointer;
    display: block;
    opacity: 0.6;
}

.show-all-img-container {
    max-height: 92px;
    background: black;
    display: flex;
}

.show-all-img:hover {
    opacity: 0.2;
}

.show-all-img-container:hover .show-all-img {
    cursor: pointer;
    opacity: 0.2;
}

.img-counter {
    cursor: pointer;
    font-size: 2rem;
    color: white;
    position: absolute;
    padding-left: 35px;
    padding-top: 20px;
}
.make-offer-wrap {
    margin-left: auto;
}
.make-offer-container {
    background-color: #ffffff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    width: 400px;
    color: #008abf;
    min-height: 100%;
    text-align: center;
}

.make-offer-container h2 {
    padding-top: 30px;
}

.make-offer-container p {
    padding-bottom: 30px;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #5094af;
}

.make-offer-email {
    padding-bottom: 130px !important;
}
.make-offer-btn {
    padding: 5px 25px;
    background-color: #105561;
    border: 1px solid #105561;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 300ms;
}

.modal-make-offer-btn {
    padding: 5px 25px;
    background-color: #105561;
    border: 1px solid #105561;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: all 300ms;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.make-offer-btn:hover {
    background-color: #f8d567;
    border: 1px solid #f8d567;
    color: #105561;
}

.modal-make-offer-btn:hover {
    background-color: #f8d567;
    border: 1px solid #f8d567;
    color: #105561;
}
.product-info-desc-content {
    list-style: none;
}

.product-info-name {
    padding-top: 5%;
}

.product-info-desc {
    margin-left: 11%;
    line-height: 2.5rem;
    padding-top: 5rem;
}

.product-info-data {
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
    margin: 0;
}
.product-info-data dt {
    color: #909090;
    width: 27%;
    word-break: break-word;
    font-weight: lighter;
}

.product-info-data dd {
    width: 63%;
}
.product-info-data-desc {
    font-size: 1rem;
    color: #232323;
    display: inline;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.carousel {
    display: none;
}

.w-100 {
    object-fit: contain;
    width: 100% !important;
    min-height: 700px;
    max-height: 500px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin-top: 30vh;
    padding: 20px;
    border: 1px solid #888;
    max-width: 300px;
    margin-left: auto;
    min-width: 300px;
    margin-right: auto;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    padding-bottom: 5%;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.media-make-offer-btn-wrap {
    display: none;
    z-index: 99;
    width: 100%;
    border-top: 1px solid grey;
    height: 10%;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: white;
}

.media-make-offer-btn {
    padding: 10px;
    background-color: #105561;
    border: 1px solid #105561;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: all 300ms;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.product-info-name {
    padding-top: 5%;
    margin-left: 2%;
}

@media screen and (max-width: 1230px) {
    #imageBox {
        min-width: 499px;
        max-width: 499px;
    }

    .make-offer-wrap {
        margin-left: auto;
        margin-right: 2%;
    }

    .product-info-gallery {
        top: 50%;
        left: 50%;
        margin-left: 2%;
    }
}

@media screen and (max-width: 1080px) {
    .make-offer-container {
        width: 250px;
    }

    .make-offer-container p {
        font-size: 1rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 930px) {
    .media-make-offer-btn-wrap {
        display: block;
        position: fixed;
        bottom: 0;
    }
    .product-info-gallery-wrap {
        display: none !important;
    }

    .carousel-min {
        display: block;
    }
    .make-offer-container {
        display: none;
    }

    .product-info-gallery-wrap {
        max-width: 650px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 705px) {
    .row img {
        width: 100%;
    }
}
