.search-container-warp {
    background-color: #e4f9fc;
    padding-top: 2%;
    padding-bottom: 2%;
}
.content {
    padding-top: 13.3vh;
}
.search-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.overlay {
    background: rgb(228, 249, 252);
    background: linear-gradient(
        180deg,
        rgba(228, 249, 252, 1) 25%,
        rgba(228, 248, 251, 1) 41%,
        rgba(255, 255, 255, 1) 69%
    );
}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #d0cfce;
    outline: none;
    &:focus {
        border: 1px solid #008abf;
        transition: 0.35s ease;
        color: #008abf;
        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -15px;
}

.products {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.info-sort {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.category-name {
    padding-top: 10px;
    font-weight: bolder;
    display: flex;
}

.category-counter {
    color: lightgray;
}

.sort {
    display: flex;
}

.sort p {
    padding-top: 15px;
    color: lightgray;
}
.dropdownbtn {
    border: 1px solid #008abf;
    background-color: #f8fafc;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    padding: 0;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.caret-icon {
    margin-left: 20px;
}

.dropdown:hover .caret-icon {
    transform: scale(1.2) rotate(-180deg);
}
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.all-categories {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
.panel-group {
    width: 20%;
}

.product-wrap {
    display: flex;
}

.product {
    display: flex;
    transition: all 300ms;
}

.product-img {
    width: 200px;
}

.product-name {
    font-size: 2rem;
}

.list-group-item {
    font-size: 1rem;
    position: relative;
    display: block;
    color: grey;
    font-weight: lighter;
    padding: 5px !important;
    background-color: #fff;
    border: none !important;
}

#product-info {
    text-align: left;
    font-size: 1rem;
}
.card-title {
    font-weight: 500;
    color: black;
}
.card {
    margin-right: 10px;
    background-color: #fff;
    background-clip: border-box;
    border: 0;
    border-radius: 0.25rem;
}
.card-body a:hover {
    text-decoration: none;
    color: #f8d567;
}

.product-btn-wrap {
    padding-left: 1px;
}

.product-btn {
    background-color: #f8d567;
    padding: 5px 20px;
    color: white;
    border: none;
}

@media screen and (max-width: 1200px) {
    products {
        display: block;
    }
}
