* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gallery-small-img {
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: 0.6;
}

.product-info-gallery {
    top: 50%;
    left: 50%;
}
.container-img {
    height: 500px;
}
.gallery-small {
    float: left;
}

.img-container {
    padding: 10px;
    float: right;
}

.gallery-small-img:hover {
    opacity: 1;
}

.product-info-gallery-wrap {
    display: flex;
}

.product-info {
    margin-top: 10%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}

.show-all-img {
    height: 92px;
    cursor: pointer;
    display: block;
    opacity: 0.6;
}

.show-all-img-container {
    max-height: 92px;
    background: black;
    display: flex;
}

.show-all-img:hover {
    opacity: 0.2;
}

.show-all-img-container:hover .show-all-img {
    cursor: pointer;
    opacity: 0.2;
}

.img-counter {
    cursor: pointer;
    font-size: 2rem;
    color: white;
    position: absolute;
    padding-left: 35px;
    padding-top: 20px;
}
.make-offer-wrap {
    margin-left: 5%;
}
.make-offer-container {
    background-color: #ffffff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    width: 400px;
    color: #008abf;
    min-height: 100%;
    text-align: center;
}

.make-offer-container h1 {
    padding-top: 30px;
}

.make-offer-container p {
    padding-bottom: 30px;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #5094af;
}

.make-offer-email {
    padding-bottom: 130px !important;
}
.make-offer-btn {
    padding: 5px 25px;
    background-color: #105561;
    border: 1px solid #105561;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 300ms;
}

.make-offer-btn:hover {
    background-color: #f8d567;
    border: 1px solid #f8d567;
    color: #105561;
}
.product-info-desc-content {
    list-style: none;
}

.product-info-data {
    color: grey;
    font-style: lighter;
}

.product-info-data {
    color: black;
}
